<div class="fire-upload">
  <div class="title">
    <h1>Upload Files</h1>
  </div>
  <ul class="files">
    <li *ngIf="files.length === 0"
        class="empty">
      <i class="far fa-file"></i>
    </li>
    <li *ngFor="let file of files">
      <ez-fu-uploader [file]="file"
                      storagePath="test/"></ez-fu-uploader>
    </li>
  </ul>
  <div class="btn">
    <input type="file"
           #fileInput
           class="file-input"
           (change)="handlerFileInput($event)"
           multiple />
    <button type="button"
            (click)="fileInput.click()">Choose File</button>
  </div>
</div>