.uploader{
    width: 400px;
    border-radius:5px;
    background: #ffffff;
    -webkit-box-shadow: 6px 7px 8px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 6px 7px 8px 0px rgba(0,0,0,0.22);
    box-shadow: 6px 7px 8px 0px rgba(0,0,0,0.22);
}